{% load static %}
{% load i18n %}

<!-- Collection -->
<section class="flat-spacing-13">
    <div class="container-full">
        <div class="swiper tf-sw-recent" data-preview="3" data-tablet="3" data-mobile="1.3" data-space-lg="30" data-space-md="15" data-space="30" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
            <div class="swiper-wrapper">

                <!-- Slide 1 -->
                <div class="swiper-slide" lazy="true">
                    <div class="collection-item-v2 hover-img">
                        <a href="shop-collection-sub.html" class="collection-inner">
                            <div class="collection-image img-style">
                                <img class="lazyload" data-src="{% static 'images/collections/collection-27.jpg' %}" src="{% static 'images/collections/collection-27.jpg' %}" alt="{% trans 'Trophy Collection' %}">
                            </div>
                            <div class="collection-content">
                                <div class="top wow fadeInUp" data-wow-delay="0s">
                                    <h5 class="heading menu-btn-color">{% trans "مكائن وآلات" %}</h5>
                                </div>
                                <div class="bottom wow fadeInUp" data-wow-delay="0s">
                                    <button class="tf-btn btn-line collection-other-link fw-6">
                                        <span class="menu-btn-color">{% trans "استكشف القسم" %}</span>
                                        <i class="icon icon-arrow1-top-left menu-btn-color"></i>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="swiper-slide" lazy="true">
                    <div class="collection-item-v2 hover-img">
                        <a href="shop-collection-sub.html" class="collection-inner">
                            <div class="collection-image img-style">
                                <img class="lazyload" data-src="{% static 'images/collections/collection-28.jpg' %}" src="{% static 'images/collections/collection-28.jpg' %}" alt="{% trans 'Trophy Collection' %}">
                            </div>
                            <div class="collection-content">
                                <div class="top wow fadeInUp" data-wow-delay="0s">
                                    <h5 class="heading menu-btn-color">{% trans "مكائن وآلات" %}</h5>

                                </div>
                                <div class="bottom wow fadeInUp" data-wow-delay="0s">
                                    <button class="tf-btn btn-line collection-other-link fw-6">
                                        <span class="menu-btn-color">{% trans "استكشف القسم" %}</span>
                                        <i class="icon icon-arrow1-top-left menu-btn-color"></i>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="swiper-slide" lazy="true">
                    <div class="collection-item-v2 hover-img">
                        <a href="shop-collection-sub.html" class="collection-inner">
                            <div class="collection-image img-style">
                                <img class="lazyload" data-src="{% static 'images/collections/collection-26.jpg' %}" src="{% static 'images/collections/collection-26.jpg' %}" alt="{% trans 'Trophy Collection' %}">
                            </div>
                            <div class="collection-content">
                                <div class="top wow fadeInUp" data-wow-delay="0s">
                                    <h5 class="heading menu-btn-color">{% trans "مكائن وآلات" %}</h5>

                                </div>
                                <div class="bottom wow fadeInUp" data-wow-delay="0s">
                                    <button class="tf-btn btn-line collection-other-link fw-6">
                                        <span class="menu-btn-color">{% trans "استكشف القسم" %}</span>
                                        <i class="icon icon-arrow1-top-left menu-btn-color"></i>
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Collection -->
