<!-- New Arrivals -->
{% load static i18n %}
<section class="flat-spacing-6 trophy_background">
    <div class="container">
        <div class="flat-title mb_1 gap-14">
            <span class="title wow fadeInUp" data-wow-delay="0s">{% trans "استكشف أقسام TROPHY" %}</span>
            <p class="sub-title wow fadeInUp" data-wow-delay="0s">{% trans "اكتشف مجموعة واسعة من الهدايا الدعائية والمنتجات المتميزة في مختلف الأقسام، واختر ما يناسب احتياجاتك من أفضل البائعين المعتمدين." %}</p>
        </div>
        <div class="grid-layout loadmore-item" data-grid="grid-4">
            <!-- card product 1 -->
            <div class="card-product style-4 fl-item">
                <div class="card-product-wrapper">
                    <a href="product-detail.html" class="product-img">
                        <img class="lazyload img-product" data-src="{% static 'images/trophy/trophy.jpeg' %}" src="{% static 'images/trophy/trophy.jpeg' %}" alt="image-product">
                        <img class="lazyload img-hover" data-src="{% static 'images/trophy/3.jpeg' %}" src="{% static 'images/trophy/3.jpeg' %}" alt="image-product">
                    </a>
                    <div class="list-product-btn column-right">
                        <a href="javascript:void(0);" class="box-icon wishlist round btn-icon-action">
                            <span class="icon icon-heart menu-btn-color"></span>
                            <span class="tooltip menu-btn-color">{% trans "أضف إلى المفضلة" %}</span>
                            <span class="icon icon-delete menu-btn-color"></span>
                        </a>
                        <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon compare  round btn-icon-action menu-btn-color">
                            <span class="icon icon-compare menu-btn-color"></span>
                            <span class="tooltip menu-btn-color">{% trans "أضف إلى المقارنة" %}</span>
                            <span class="icon icon-check menu-btn-color"></span>
                        </a>
                        <a href="#quick_view" data-bs-toggle="modal" class="box-icon quickview round tf-btn-loading">
                            <span class="icon icon-view menu-btn-color"></span>
                            <span class="tooltip menu-btn-color">{% trans "عرض سريع" %}</span>
                        </a>
                    </div>
                    <a href="#quick_add" data-bs-toggle="modal" class="btn-quick-add quick-add menu-btn-color">{% trans "إضافة سريعة" %}</a>
                </div>
                <div class="card-product-info">
                    <a href="product-detail.html" class="title link menu-btn-color">{% trans "كوب تذكاري أنيق" %}</a>
                    <span class="price menu-btn-color">{% trans "ابتداءً من" %} $16.95</span>
                </div>
            </div>
            <!-- card product 2 -->
            <div class="card-product style-4 fl-item">
                <div class="card-product-wrapper">
                    <a href="product-detail.html" class="product-img">
                        <img class="lazyload img-product" data-src="{% static 'images/trophy/2.jpeg' %}" src="{% static 'images/trophy/2.jpeg' %}" alt="image-product">
                        <img class="lazyload img-hover" data-src="{% static 'images/trophy/7.jpeg' %}" src="{% static 'images/trophy/7.jpeg' %}" alt="image-product">
                    </a>
                    <div class="list-product-btn column-right">
                        <a href="javascript:void(0);" class="box-icon wishlist bg_white round btn-icon-action">
                            <span class="icon icon-heart menu-btn-color"></span>
                            <span class="tooltip menu-btn-color">{% trans "أضف إلى المفضلة" %}</span>
                            <span class="icon icon-delete menu-btn-color"></span>
                        </a>
                        <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon compare bg_white round btn-icon-action">
                            <span class="icon icon-compare menu-btn-color"></span>
                            <span class="tooltip menu-btn-color">{% trans "أضف إلى المقارنة" %}</span>
                            <span class="icon icon-check menu-btn-color"></span>
                        </a>
                        <a href="#quick_view" data-bs-toggle="modal" class="box-icon quickview bg_white round tf-btn-loading">
                            <span class="icon icon-view menu-btn-color"></span>
                            <span class="tooltip menu-btn-color">{% trans "عرض سريع" %}</span>
                        </a>
                    </div>
                    <a href="#quick_add" data-bs-toggle="modal" class="btn-quick-add quick-add menu-btn-color">{% trans "إضافة سريعة" %}</a>
                    <div class="countdown-box">
                        <div class="js-countdown menu-btn-color" data-timer="1007500" data-labels="{% trans 'يوم :' %},{% trans 'ساعة :' %},{% trans 'دقيقة :' %},{% trans 'ثانية' %}"></div>
                    </div>
                </div>
                <div class="card-product-info">
                    <a href="product-detail.html" class="title link menu-btn-color">{% trans "درع تكريمي فاخر" %}</a>
                    <span class="price menu-btn-color">{% trans "ابتداءً من" %} $18.95</span>
                </div>
            </div>
        </div>

        <div class="tf-pagination-wrap view-more-button text-center">
            <button class="tf-btn-loading tf-loading-default style-2 btn-loadmore menu-btn-bg-color">
                <span class="text">{% trans "تحميل المزيد" %}</span>
            </button>
        </div>
    </div>
</section>
<!-- /New Arrivals -->
