{% load static i18n %}
<!-- Slider -->
<style>
    .tf-slideshow.slider-home-5 .wrap-slider {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.tf-slideshow.slider-home-5 .wrap-slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
</style>
<div class="tf-slideshow slider-home-4 slider-effect-fade position-relative">
    <div class="swiper tf-sw-slideshow" data-preview="1" data-tablet="1" data-mobile="1" data-centered="false" data-space="0" data-loop="true" data-auto-play="false" data-delay="2000" data-speed="1000">
        <div class="swiper-wrapper">
            {% for slide in home_sliders %}
                {% if slide.is_active %}
                    <div class="swiper-slide" lazy="true">
                        <div class="wrap-slider">
                            <img class="lazyload" data-src="{{ slide.image_resized.url }}" src="{{ slide.image_resized.url }}" alt="{{ slide.heading }}">
                            <div class="box-content">
                                <div class="container">
                                    <div class="card-box bg_dark">
                                        <p class="fade-item fade-item-1 text-white subheading fw-7">{{ slide.subheading }}</p>
                                        <h3 class="fade-item fade-item-2 text-white heading">{{ slide.heading|linebreaksbr }}</h3>
                                        <div class="fade-item fade-item-3">
                                            <a href="{{ slide.get_button_url }}" class="tf-btn btn-outline-light btn-xl radius-3">
                                                <span>{{ slide.button_text }}</span>
                                                <i class="icon icon-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                  <div class="swiper-slide" lazy="true">
                <div class="wrap-slider">
                    <img class="lazyload" data-src="{% static 'images/trophy/trophy.jpeg' %}" src="{% static 'images/trophy/trophy.jpeg' %}" alt="Trophy Slide 1">
                    <div class="box-content">
                        <div class="container">
                            <div class="card-box trophy_background">
                                <p class="fade-item fade-item-1 text-white subheading fw-7">{% trans "ابدأ البيع على TROPHY" %}</p>
                                <h3 class="fade-item fade-item-2 text-white heading">{% trans "فرصتك للوصول إلى آلاف العملاء" %}</h3>
                                <div class="fade-item fade-item-3">
                                    <a href="" class="tf-btn btn-outline-light btn-xl radius-3">
                                        <span>{% trans "انضم الآن" %}</span><i class="icon icon-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" lazy="true">
                <div class="wrap-slider">
                    <img class="lazyload" data-src="{% static 'images/trophy/1.jpeg' %}" src="{% static 'images/trophy/1.jpeg' %}" alt="Trophy Slide 2">
                    <div class="box-content">
                        <div class="container">
                            <div class="card-box trophy_background">
                                <p class="fade-item fade-item-1 text-white subheading fw-7">{% trans "سهولة في تسجيل المنتجات" %}</p>
                                <h3 class="fade-item fade-item-2 text-white heading">{% trans "اعرض منتجاتك ببضع نقرات" %}</h3>
                                <div class="fade-item fade-item-3">
                                    <a href="" class="tf-btn btn-outline-light btn-xl radius-3">
                                        <span>{% trans "ارفع منتجك" %}</span><i class="icon icon-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" lazy="true">
                <div class="wrap-slider">
                    <img class="lazyload" data-src="{% static 'images/trophy/2.jpeg' %}" src="{% static 'images/trophy/3.jpeg' %}" alt="Trophy Slide 3">
                    <div class="box-content">
                        <div class="container">
                            <div class="card-box trophy_background">
                                <p class="fade-item fade-item-1 text-white subheading fw-7">{% trans "دعم متكامل للبائعين" %}</p>
                                <h3 class="fade-item fade-item-2 text-white heading">{% trans "نحن معك في كل خطوة" %}</h3>
                                <div class="fade-item fade-item-3">
                                    <a href="" class="tf-btn btn-outline-light btn-xl radius-3">
                                        <span>{% trans "تواصل معنا" %}</span><i class="icon icon-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="wrap-pagination sw-absolute-3">
        <div class="sw-dots style-2 sw-pagination-slider"></div>
    </div>
</div>
<!-- /Slider -->
